.card {
  width: 210px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap:10px;
  /* align-items: center; */
  font-family: var(--font-main);
}

.imageWrapper {
  position: relative;
  width: 100%;
  background-color: var(--color-white);
  border-radius: 12px;
}

.image {
  width: 100%;
  border-radius: 12px 12px 0 0;
  display: block;
}

.chip {
  background-color: black !important;
  color: white !important;
  font-size: 12px;
  margin: 10px;
  height: 32px;
  font-family: var(--font-main);
}

.title{
  margin: 8px 0;
  font-size: 14px;
  font-weight: 500;
  color:var(--color-white);
  text-align: left !important;
  font-family: var(--font-main);
}
