.card {
  width: 220px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.imageWrapper {
  position: relative;
  background-color: #ffffff;
  border-radius: 8px;
}

.image {
  width: 100%;
  display: block;
}

.chipWrapper {
  /* position: absolute;
  bottom: 8px;
  left: 8px; */
  margin:4px;
  padding-bottom: 10px;
}

.title {
  padding: 8px;
  font-size: 14px;
  font-weight: 500;
  white-space: nowrap;
  color: var(--color-white);
  overflow: hidden;
  text-overflow: ellipsis;
}
