/* src/components/Section/Section.module.css */
.section {
  padding: 30px;
  background-color: var(--color-black);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color:var(--color-white);
  margin-bottom: 16px;
}

.cardGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 16px;
}

.toggle {
  background: none;
  border: none;
  color: var(--color-green);
  font-weight: bold;
  cursor: pointer;
}
